APP_NAME="Le Cercle Tennis Club"
APP_ENV=local
APP_URL=https://bot.lecercleclub.it
APP_KEY=base64:sdp/V4xNWUL99+06ZnKipmbg/S6K96zcm6clbSs7quw=
APP_DEBUG=true


APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

GOOGLE_CALENDAR_CREDENTIALS=/var/www/vhosts/bot.lecercleclub.it/httpdocs/storage/google-calendar-credentials.json
GOOGLE_CALENDAR_ID=d4a14138c6c15a6a07d3a28d6f575f5d1221e474ff1e8bd8ce0bdc5465a7d920@group.calendar.google.com

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=lecercle_db
DB_USERNAME=lecercle
DB_PASSWORD=Tr4f4lg4r_1995

WHATSAPP_PHONE_NUMBER_ID=1017456144787361
WHATSAPP_WABA_ID=3162223840832425
WHATSAPP_PHONE_NUMBER=+393760182466
WHATSAPP_TOKEN=EAAUSLxQ870oBRH6wtrvaFCoejiZAudoZBIJUC2abjGahtQIbbsjlWSsnoi2UAZBkWPOEw2jTTBmd9IUVLOodfadJHcsdUYsLiTVj97bXflnweBd8XRJn7hi78bY6ZAMyWXB16hb7peSRMIAwqxttiPFiJoMiArBIJvzzHbtZCvZBpykEHENefg1hBXq9ZA94PJcZAgZDZD
WHATSAPP_VERIFY_TOKEN=courtly_webhook_2026

GEMINI_KEY=AIzaSyAI5TJSzvkFpIdTahzBzjP5XA9c3VAJTuU

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
